<div class="card-header">
    <h3>Ajouter un cour</h3>
  </div>
  <form>
    <div class="form-group">
      <label>iD cour</label>
      <input type="number" class="form-control" name="id" required [(ngModel)]="NvCour.id">
    </div>
    <div class="alert alert-danger" *ngIf="id_cour_non_valid()">
      le ID n'est pas correct
    </div>
    <div class="form-group">
      <label>Nom de cour</label>
      <input type="text" class="form-control" name="nom" required [(ngModel)]="NvCour.nom">
    </div>
    <div class="form-group">
      <label>Date de cour</label>
      <input type="text" class="form-control" name="date" required [(ngModel)]="NvCour.Date">
    </div>
    <div class="form-group">
      <label>Description de cour</label>
      <input type="text" class="form-control" name="description" required [(ngModel)]="NvCour.description">
    </div>
    <div class="form-group">
      <label>Lien de cour</label>
      <input type="text" class="form-control" name="lien" required [(ngModel)]="NvCour.fichier">
    </div><br>
    <button (click)="save()" class="btn btn-warning">Ajouter</button>
    <br>
    <div class="alert bg-warning" *ngIf="cour_ajouter">
      Cour ajouter avec success !
    </div>
  </form>

  <br><hr><br>


  <h3>Vous Cours deposer</h3>
  <input type="text" class="form-control" [(ngModel)]="rechercher" placeholder="Chercher cour par id ou taper 111 pour afficher tous les cours"><br>
  <div *ngFor="let c of courMat">
      <div *ngIf="c.id == rechercher || rechercher == 111">
          <div class="card-body alert alert-success">
              <h5 style="text-decoration: underline;">ID : {{c.id}}</h5><hr>
              <h5 class="card-title">{{ c.nom }}</h5>
              <div class="card-text">Date de cour : {{c.Date}}</div>
              <div class="card-text">Description : {{ c.description }}</div>
              <div class="card-text">Lien de cour : {{c.fichier}}</div>
              <br><hr>
              <app-commentaire-ens [code]="c.id"></app-commentaire-ens>
          </div>
      </div>
  </div>